# Environment Variables
.env

# Access Token (read code)
user_access_token.txt

# Python venv
venv/

# Python file to test feature implementation before adding to file
testing.py

# Jupyter Notebook file to have a better look at pandas dataframes
Untitled-1.ipynb